<div class="pt-18 flex flex-col gap-6 me-4">
    <p class="font-medium text-2xl font-Inter text-[#19213D]">Welcome Joanna!</p>
    <div class="flex gap-4">
        <div class="card bg-white border border-[#D5D7DA] rounded-lg w-[33%] h-[310px]"></div>
        <div class="card bg-white border border-[#D5D7DA] rounded-lg w-[33%] h-[310px]" ></div>
        <div class="card bg-white border border-[#D5D7DA] rounded-lg w-[33%] h-[310px]"></div>
    </div>
    <p class="font-medium text-base font-Inter text-[#19213D]">Release History</p>
    <div></div>
</div>












