<div class="pt-18 flex flex-col gap-4 me-4">
    <p class="font-medium text-2xl font-[inter] text-[#19213D]">Welcome Joanna!</p>
    <div class="flex gap-4">
        <div class="bg-white border border-[#D5D7DA] rounded-lg w-[33%] h-[310px] flex flex-col gap-[16px] p-[24px]">
            <div class="flex"> 
                <p class="paymentHubCard border border-[#2726DD] text-xs font-medium font-[inter] py-[4px] px-[8px] rounded-sm">Latest Update</p>
            </div>
            <p class="font-[inter] mb-[-8px]">What’s new in Payment Hub 1.2.3-A</p>
            <ul class="text-[#666F8D] text-sm font-[inter] flex flex-col gap-[15px]">
                <li>✔ Enhanced transaction security to prevent unauthorized access.</li>
                <li>✔ Improved API response times by 30% for better performance.</li>
                <li>✔ Introduced a new fraud detection feature to minimize risk.</li>
            </ul>
            <a class="text-sm font-medium text-[#2726DD]">Learn more -></a>
        </div>
        <div class="card bg-white border border-[#D5D7DA] rounded-lg w-[33%] h-[310px]" >
        </div>
        <div class="card bg-white border border-[#D5D7DA] rounded-lg w-[33%] h-[310px]">
        </div>
    </div>
    <p class="font-medium text-base font-Inter text-[#19213D]">Release History</p>
    <div class="flex justify-between">
        <div class="flex gap-[8px]">
            <!--/* Search */-->
            <div class="my-auto bg-white border border-[#D5D7DA] rounded-[8px] px-[16px] py-[10px] flex items-center gap-[8px] shadow-[0px_1px_2px_rgba(10,13,18,0.05)] text-[#666F8D] text-sm font-medium w-[273px]">
                <i class="fas fa-search"></i>
                Search 
            </div>
            <!--/* Filter */-->
            <div class="my-auto bg-white border border-[#D5D7DA] rounded-[8px] px-[16px] py-[10px] flex items-center gap-[8px] shadow-[0px_1px_2px_rgba(10,13,18,0.05)] text-[#666F8D] text-sm font-medium">
                <span class="w-[18.33px] h-[18.33px] bg-[url('./app/resources/icons/filter-icon.svg')]">
                </span>
            </div>
        </div>
        <div>
            <button class="text-white bg-[#2726DD] flex items-center gap-[8px] px-[14px] py-[10px] rounded-lg border border-[#D5D7DA]">
                <span class="w-[18.33px] h-[18.33px] bg-[url('./app/resources/icons/white-stars.svg')]">
                </span>
                Create Documentation
            </button>
        </div>
    </div>
    <!-- release history list-->
    <ul class="bg-white border border-[#E9EAEB] rounded-xl text-sm text-[#535862]">
        <li class="grid grid-cols-7 gap-4 border-b-1 border-[#E9EAEB] py-3 px-4">
            <div class="flex gap-2 justify-start items-center">
                <span class="w-[20px] h-[20px] bg-[url('./app/resources/icons/checkbox-icon.svg')]">
                </span>
                Documentation
            </div>
            <div class="">Product</div>
            <div class="">Type</div>
            <div class="">Status</div>
            <div class="">Delivery date</div>
            <div class="">Executed by</div>
        </li>
        <li class="grid grid-cols-7 gap-4 border-b-1 border-[#E9EAEB] py-5 px-4 last:border-b-0" *ngFor="let item of documentationData">
            <div class="flex gap-2 justify-start items-center">
                <span class="w-[20px] h-[20px] bg-[url('./app/resources/icons/checkbox-icon.svg')]">
                </span>
                {{ item.documentation }}
            </div>
            <div class="">{{ item.product }}</div>
            <div class="">{{ item.type }}</div>
            <div class="">{{ item.status }}</div>
            <div class="">{{ item.deliveryDate }}</div>
            <div class="">{{ item.executedBy }}</div>
            <div class="text-[#2726DD] font-semibold">{{ item.view }}</div>
        </li>
    </ul>
</div>












