<div class="pt-18 flex flex-col gap-4 me-4">
    <p class="font-medium text-2xl font-[inter] text-[#19213D]">Welcome Joanna!</p>
    <div class="flex gap-4">
        <div class="bg-white border border-[#D5D7DA] rounded-lg w-[33%] h-[310px] flex flex-col gap-[16px] p-[24px]" *ngFor="let update of paymentHubUpdates">
            <div class="flex"> 
                <p class="paymentHubCard border border-[#2726DD] text-xs font-medium font-[inter] py-[4px] px-[8px] rounded-sm">{{ update.latestUpdate }}</p>
            </div>
            <p class="font-[inter] mb-[-8px]">{{ update.title }}</p>
            <ul class="text-[#666F8D] text-sm font-[inter] flex flex-col gap-[15px]">
                <li *ngFor="let givenList of update.updateList">✔ {{ givenList }}</li>
            </ul>
            <a class="text-sm font-medium text-[#2726DD] mt-auto">{{ update.learnMore }} -></a>
        </div>
    </div>
    <p class="font-medium text-base font-Inter text-[#19213D]">Release History</p>
    <div class="flex justify-between">
        <div class="flex gap-[8px]">
            <!--/* Search */-->
            <div class="my-auto bg-white border border-[#D5D7DA] rounded-[8px] px-[16px] py-[10px] flex items-center gap-[8px] shadow-[0px_1px_2px_rgba(10,13,18,0.05)] text-[#666F8D] text-sm font-medium w-[273px]">
                <i class="fas fa-search"></i>
                Search 
            </div>
            <!--/* Filter */-->
            <div class="my-auto bg-white border border-[#D5D7DA] rounded-[8px] px-[16px] py-[10px] flex items-center gap-[8px] shadow-[0px_1px_2px_rgba(10,13,18,0.05)] text-[#666F8D] text-sm font-medium">
                <span class="w-[18.33px] h-[18.33px] bg-[url('./app/resources/icons/filter-icon.svg')]">
                </span>
            </div>
        </div>
        <!--/* test */-->
        <div class="flex gap-[16px] relative">
            <div class="bg-[#F7F8FA] p-[16px] rounded-[8px]">
                <button class="text-white bg-[#2726DD] flex items-center gap-[8px] px-[14px] py-[10px] rounded-lg   border border-[#D5D7DA]">
                    <span class="w-[18.33px] h-[18.33px] bg-[url('./app/resources/icons/white-stars.svg')]">
                    </span>
                    Create Documentation
                </button>
            </div>
            <div class="flex flex-col bg-white p-[18px] gap-[16px] w-[384px] h-[146px] items-center rounded-[12px] absolute tooltip-div tooltip">
                <p class="text-[18px] text-[#19213D] leading-[130%] font-medium">Click this button to start generating your documentation</p>
                <div class="flex justify-between w-full mt-[10px]">
                    <button class="bg-white flex justify-center items-center py-[8px] px-[24px]  border border-[#D5D7DA] rounded-[8px] text-sm w-[168px]">
                        Skip
                    </button>
                    <button class="activeButton flex justify-center items-center py-[8px] px-[32px]  border border-[#D5D7DA] rounded-[8px] text-sm w-[168px]">
                        Next
                    </button>
                </div>
            </div>
        </div>
         <!--/* test */-->
        <!--/* <div>
            <button class="text-white bg-[#2726DD] flex items-center gap-[8px] px-[14px] py-[10px] rounded-lg border border-[#D5D7DA]">
                <span class="w-[18.33px] h-[18.33px] bg-[url('./app/resources/icons/white-stars.svg')]">
                </span>
                Create Documentation
            </button>
        </div> */-->
    </div>
    <!-- release history list-->
    <ul class="bg-white border border-[#E9EAEB] rounded-xl text-sm text-[#535862] text-sm opacity-[0.6]">
        <li class="grid grid-cols-7 gap-4 border-b-1 border-[#E9EAEB] py-3 px-4 ps-[24px]">
            <div class="flex gap-2 justify-start items-center">
                Documentation
            </div>
            <div class="">Product</div>
            <div class="">Type</div>
            <div class="">Status</div>
            <div class="">Delivery date</div>
            <div class="">Executed by</div>
        </li>
        <li class="grid grid-cols-7 gap-4 border-b-1 border-[#E9EAEB] py-5 px-4 ps-[24px] last:border-b-0" *ngFor="let item of documentationData">
            <div class="flex gap-2 justify-start items-center">
                {{ item.documentation }}
            </div>
            <div class="">{{ item.product }}</div>
            <div class="">{{ item.type }}</div>
            <div class="">{{ item.status }}</div>
            <div class="">{{ item.deliveryDate }}</div>
            <div class="">{{ item.executedBy }}</div>
            <div class="text-[#2726DD] font-semibold">{{ item.view }}</div>
        </li>
    </ul>
</div>

<!--/* model section */-->
<!--/* <div class="mmmmtests">
    <div class="flex flex-col bg-white p-[24px] gap-[16px] w-[400px] h-[420px] items-center decoment">
        <div class="w-[352px] h-[200px] bg-[url('./app/resources/images/dashboard-tooltip-image.svg')] rounded-lg">
        </div>
        <p class="">Welcome to your dashboard</p>
        <p class="">We’re glad to have you onboard. Here are some quick tips to get you up and running.</p>
      
        <div class="flex justify-between w-full">
            <button class="bg-white flex justify-center items-center py-[8px] px-[24px]  border border-[#D5D7DA] rounded-[8px] text-sm">
                Skip
            </button>
            <button class="activeButton flex justify-center items-center py-[8px] px-[32px]  border border-[#D5D7DA] rounded-[8px] text-sm">
                Next
            </button>
        </div>
    </div>
</div> */-->












