
<div class="login-page">
    <div class="login-main">    
        <input type="checkbox" id="chk" aria-hidden="true">

        <!--/* Sign up form */-->
        <div class="signup">
            <form>
                <label class="login-label" for="chk" aria-hidden="true">Sign up</label>
                <input class="login-input" type="text" name="userName" placeholder="User name" required="" [(ngModel)]="signupObj.userName">
                <input class="login-input" type="email" name="email" placeholder="Email" required="" [(ngModel)]="signupObj.email">
                <input class="login-input" type="text" name="role" placeholder="Role" required="" [(ngModel)]="signupObj.role">
                <input class="login-input" type="password" name="password" placeholder="Password" required="" [(ngModel)]="signupObj.password">
                <button class="login-button" (click)="onSignUp()">Sign up</button>
            </form>
        </div>

        <!--/* Login form */-->
        <div class="login">
            <form>
                <label class="login-label" for="chk" aria-hidden="true">Login</label>
                <input class="login-input" type="text" name="text" placeholder="User name" required="" [(ngModel)]="loginObj.userName">
                <input class="login-input" type="password" name="password" placeholder="Password" required="" [(ngModel)]="loginObj.password">
                <button class="login-button" (click)="onLogin()">Login</button>
            </form>
        </div>
    </div>
</div>



