
<div class="login-page">
    <div class="login-main">    
        <input type="checkbox" id="chk" aria-hidden="true">

        <!--/* Sign up form */-->
        <div class="signup">
            <form>
                <label for="chk" aria-hidden="true">Sign up</label>
                <input type="text" name="firstName" placeholder="First name" required="">
                <input type="text" name="lastName" placeholder="Last name" required="">
                <input type="email" name="email" placeholder="Email" required="">
                <input type="text" name="role" placeholder="Role" required="">
                <input type="password" name="pswd" placeholder="Password" required="">
                <button class="mb-4 text-[red]">Sign up</button>
            </form>
        </div>

        <!--/* Login form */-->
        <div class="login">
        <form>
            <label for="chk" aria-hidden="true">Login</label>
            <input type="email" name="email" placeholder="Email" required="">
            <input type="password" name="pswd" placeholder="Password" required="">
            <button>Login</button>
        </form>
        </div>
    </div>
</div>



