<div class="bg-white border border-[#D5D7DA] rounded-lg h-[100%] flex flex-col gap-[16px] p-[24px]">
  <div class="flex"> 
      <p class="paymentHubCard border border-[#2726DD] text-xs font-medium py-[4px] px-[8px] rounded-sm">{{ data.latestUpdate }}</p>
  </div>
  <p class="mb-[-8px]">{{ data.title }}</p>
  <ul class="text-[#666F8D] text-sm flex flex-col gap-[15px]">
      <li *ngFor="let givenList of data.updateList">✔ {{ givenList }}</li>
  </ul>
  <a class="text-sm font-medium text-[#2726DD] mt-auto">{{ data.learnMore }} -></a>
</div>
