<div class="bg-white border border-[#D5D7DA] rounded-lg h-[100%] flex flex-col gap-[16px] px-[24px] py-[16px]">
    <div class="h-[100%] flex flex-col gap-[16px] ">
        <div class="flex"> 
            <p class="text-xs font-medium py-[4px] px-[8px] text-[#666F8D]">{{ data.latestUpdate }}</p>
            <p class="text-xs font-medium py-[4px] px-[8px] bg-[#24D7DA4D] rounded-[3.5px]" [ngClass]="(data.latest)? '' : 'hidden'" >{{data.latest}}</p>
            
        </div>
        <p class="mb-[-8px] text-[16px] font-bold">{{ data.title }}</p>
        <p class="text-[#666F8D] text-sm mb-[-8px]">{{ data.subTitle }}</p>
        <ul class="list-disc text-[#666F8D] text-sm flex flex-col gap-[8px] ml-[24px]">
            <li *ngFor="let givenList of data.updateList">{{ givenList }}</li>
        </ul>
    </div>
     <!-- link section -->
     <div class="flex flex-col gap-[16px]">
        <hr class="border-none h-[1px] bg-[#e2e8f0]">
        <a class="flex gap-[4px]">
            <div class="w-[23px] h-[23px] scale-[0.7] bg-[url('./app/resources/icons/blue-stars.svg')]"></div>
            <p class="text-sm text-primary font-bold flex items-center">{{ data.moreInfo }}</p>
        </a>
    </div>
</div>
