<ul class="bg-white border border-[#E9EAEB] rounded-xl text-sm text-[#535862] text-sm">
    <li class="grid grid-cols-7 gap-4 border-b-1 border-[#E9EAEB] py-3 px-4 ps-[24px]">
        <div class="flex gap-2 justify-start items-center">
            Documentation
        </div>
        <div class="">Product</div>
        <div class="">Type</div>
        <div class="">Status</div>
        <div class="">Delivery date</div>
        <div class="">Executed by</div>
    </li>
    <li class="grid grid-cols-7 gap-4 border-b-1 border-[#E9EAEB] py-5 px-4 ps-[24px] last:border-b-0" *ngFor="let item of data">
        <div class="flex gap-2 justify-start items-center">
            {{ item.documentation }}
        </div>
        <div class="">{{ item.product }}</div>
        <div class="">{{ item.type }}</div>
        <div class="">{{ item.status }}</div>
        <div class="">{{ item.deliveryDate }}</div>
        <div class="">{{ item.executedBy }}</div>
        <div class="text-[#2726DD] font-semibold">{{ item.view }}</div>
    </li>
</ul>
