<div class="bg-white border border-[#D5D7DA] rounded-lg flex flex-col gap-[16px] p-[24px]">
    <div class="flex flex-col gap-[4px]">
        <div class="flex justify-between"> 
            <p class="font-medium text-sm">{{data.title}}</p>
            <span class="w-[11.2px] h-[9.98px] scale-[1.2] bg-[url('./app/resources/icons/blue-slant-up-arrow-icon.svg')]"></span>
        </div>
        <div class="font-bold text-[32px]">{{data.bugNumber}}</div>
        <p class="font-medium text-sm text-[#78716C]">{{data.month}}</p>
    </div>
</div>