
<!--/* <main>
  <div class="">
    <router-outlet />
  </div>
</main> */-->

<nav class="navbar navbar-dark bg-primary px-3">
  <div class="d-flex align-items-center">
    <button *ngIf="!loginDisplay" class="btn btn-secondary me-2" (click)="login()">Sign In</button>
    <button *ngIf="loginDisplay" class="btn btn-secondary me-2" (click)="logout()">Sign Out</button>
    <a *ngIf="loginDisplay" [routerLink]="['profile']" class="btn btn-light">View Profile</a>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>



