<div id="side-nav" class=" bg-white p-4 h-full rounded-2xl py-6">
  <div class="flex flex-col gap-8 ">
  <!-- playbook-logo section-->
    <div class="flex gap-16 w-full">
      <div class="flex gap-2">
        <div class="w-[36px] h-[36px] bg-[url('./app/resources/icons/play-book-logo.svg')] rounded-lg">
        </div>
        <div class="text-[#2A29DD] font-medium text-2xl">Playbook</div>
      </div>
      <div id="close-sidebar" class="w-[24px] h-[24px] mx-auto bg-[url('./app/resources/icons/close-sidebar.svg')]">
      </div>
    </div>
    <!-- sidebar nav section-->
    <div class="flex flex-col gap-4">
      @for (item of items; track $index) {
        <ul class="w-full">
            <li class="w-full">
                <a
                class="sidenav-nav-link flex gap-x-2 items-center rounded-xl p-3"
                [routerLink]="item.routeLink"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"
                >
                <i class="text-xl"  [class]="item.icon"></i>
                <span class="text-[#000000] font-normal text-sm font-Inter">{{ item.label }}</span>
                </a>
            </li>
        </ul>
      
      }
    </div>
  </div>
  
</div>
