<p>profile works!</p>
<div class="profile">
    <p *ngIf="profile.businessPhones"><strong>Business Phones:</strong> {{profile.businessPhones}}</p>
    <p *ngIf="profile.displayName"><strong>Display Name:</strong> {{profile.displayName}}</p>
    <p *ngIf="profile.givenName"><strong>Given Name:</strong> {{profile.givenName}}</p>
    <p *ngIf="profile.jobTitle"><strong>Job Title:</strong> {{profile.jobTitle}}</p>
    <p *ngIf="profile.mail"><strong>Mail:</strong> {{profile.mail}}</p>
    <p *ngIf="profile.mobilePhone"><strong>Mobile Phone:</strong> {{profile.mobilePhone}}</p>
    <p *ngIf="profile.officeLocation"><strong>Office Location:</strong> {{profile.officeLocation}}</p>
    <p *ngIf="profile.preferredLanguage"><strong>Preferred Language:</strong> {{profile.preferredLanguage}}</p>
    <p *ngIf="profile.surname"><strong>Surname:</strong> {{profile.surname}}</p>
    <p *ngIf="profile.userPrincipalName"><strong>User Principal Name:</strong> {{profile.userPrincipalName}}</p>
    <p *ngIf="profile.id"><strong>Profile Id:</strong> {{profile.id}}</p>
    <br><br>
    <p><strong>Token Expiration:</strong> {{tokenExpiration}}</p>
    <br><br>
</div>