/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html, body{
    margin: 0;
    padding: 0;
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("./app/resources/images/aci-bg-image.svg");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;

    font-family: 'Inter';
    
}
*{
    outline: none;
}

/* sidebar */
.active {
  background: rgba(43, 42, 221, 0.1);
}
.tooltip-text{
  display: none;
}
.tooltip-btn:hover .tooltip-text{
  display: block;
}
.tooltip-btn:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(43, 42, 221, 0.1);
  border-radius: 16px;
}
/* dashboard */
.paymentHubCard{
  background: rgba(39, 38, 221, 0.1);
}
.dashboard-model{
  left: calc(50% - 400px/2);
  top: calc(50% - 420px/2);
  box-shadow: 0px 20px 24px -4px rgba(16, 24, 40, 0.08), 0px 8px 8px -4px rgba(16, 24, 40, 0.03);
}
/* on boarding */
.dnone{
  display: none;
}
.dblock{
  display: block;
}
.disabled{
  opacity: 0.5;
  pointer-events: none;
}
.activeButton {
  background-color: #2726DD;
  color: white;
}

input[type="radio"] {
  visibility:hidden;
}
input[type='radio']:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content:url('./app/resources/icons/gray-uncheked-raido-button.svg');
  display: inline-block;
  visibility: visible;
}

input[type='radio']:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  content:url('./app/resources/icons/blue-checkmark-icon.svg');
  display: inline-block;
  visibility: visible;
}

.tooltip-div {
  left: -180%; 
  top: -50%; 
  z-index: 100;
}
.tooltip::after,
.tooltip::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 30px;
  width: 30px;
  top: 50%;
  right: -30px;
  transform: translate(-50%, -10%) rotate(45deg) scale(1);
  -webkit-transform: translate(-50%, -10%) rotate(45deg) scale(1);
  -moz-transform: translate(-50%, -10%) rotate(45deg) scale(1);
  -ms-transform: translate(-50%, -10%) rotate(45deg) scale(1);
  -o-transform: translate(-50%, -10%) rotate(45deg) scale(1);
}
.sources-template-tooltip{
  top: 170%; 
  z-index: 100;
}
.sources-template-tooltip::after,
.sources-template-div-tooltip::before {
  content: "";
  position: absolute;
  background-color: white;
  height: 30px;
  width: 30px;
  top: -14px;
  left:50%;
  transform: translate(-50%, -10%) rotate(45deg) scale(1);
  -webkit-transform: translate(-50%, -10%) rotate(45deg) scale(1);
  -moz-transform: translate(-50%, -10%) rotate(45deg) scale(1);
  -ms-transform: translate(-50%, -10%) rotate(45deg) scale(1);
  -o-transform: translate(-50%, -10%) rotate(45deg) scale(1);
}