/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
html, body{
    margin: 0;
    padding: 0;
    
    position:fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url("./app/resources/images/aci-bg-image.svg");
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
    
}
*{
    outline: none;
}

/* sidebar */
.active {
  background: rgba(43, 42, 221, 0.1);
}
.tooltip-text{
  display: none;
}
.tooltip-btn:hover .tooltip-text{
  display: block;
}
.tooltip-btn:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(43, 42, 221, 0.1);
  border-radius: 16px;
}
/* documentation */
.documentation{
 /* Vector */

position: absolute;
left: 8.33%;
right: 9.05%;
top: 9.05%;
bottom: 8.33%;

border: 2px solid #000000;

 
}
